@model Atestados.Objetos.Dtos.AtestadoDTO

@{
    ViewBag.Title = "Ver";
    Layout = "~/Views/Shared/_LayoutFuncionario.cshtml";
}

@using Atestados.Objetos.Dtos;

<div class="container-fluid">

    @RenderPage("~/Views/Shared/BotonRegresar.cshtml")
    <div class="mt-4">
        <h2>Ver un Curso de Educación Continuada</h2>
    </div>
    <hr />
    <div class="row w-100">
        <div class="col-lg-6">
            <!-- columna izquierda -->
            <dl class="dl-horizontal">
                <dt>
                    Funcionario
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Persona.Nombre)
                    @Html.DisplayFor(model => model.Persona.PrimerApellido)
                    @Html.DisplayFor(model => model.Persona.SegundoApellido)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Nombre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nombre)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Enlace)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Enlace)
                </dd>

                <dt>
                    Fecha de inicio
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Fecha.FechaInicio)
                </dd>

                <dt>
                    Fecha de finalización
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Fecha.FechaFinal)
                </dd>

                <dt>
                    Cantidad de horas
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CantidadHoras)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Lugar)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Lugar)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Observaciones)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Observaciones)
                </dd>

            </dl>
        </div>
        <div class="col-lg-4">
            <!-- columna derecha -->
            <div class="row table-wraper scrollbar-atestados">
                <h4>Archivos</h4>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Nombre
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Archivos)
                        {
                            <tr>
                                <td>
                                    @item.Nombre
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div id="nota">
                <h4>Nota ponderada:</h4>
            </div>
            @Html.Partial("Autores")
        </div>
    </div>
    <div class="row">
        <p>
            @if ((int)Session["TipoUsuario"] == 1 || (int)Session["TipoUsuario"] == 3)
            {
                <a href="@Url.Action("Editar", "EducacionContinuada", new { id = Model.AtestadoID })" class="btn btn-warning btn-sm" title="Editar">
                    @Html.Partial("BotonEditar")
                </a>
                <a href="@Url.Action("Borrar","EducacionContinuada", new {id = Model.AtestadoID})" class="btn btn-danger btn-sm" title="Borrar">
                    @Html.Partial("BotonBorrar")
                </a>
            }
            @if ((int)Session["TipoUsuario"] == 1 || (int)Session["TipoUsuario"] == 2)
            {
                <input type="submit" class="btn btn-outline-primary" value="Evaluar Atestado" form="subirArchivo" data-bs-toggle="modal" data-bs-target="#requisitos" />
            }
        </p>
    </div>
</div>

@*Modal de rubrica automática.*@
<div id="requisitos" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal-header">
                    <h4 class="modal-title" id="staticBackdropLabel">Evaluar requisitos</h4>
                    <button id="closeModal" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <h1>¿El atestado cumple con todos los siguientes requisitos?</h1>
                <ul>
                    @foreach (var item in ViewBag.RequisitosEval)
                    {
                        <li>
                            @item.Descripcion
                        </li>
                    }
                </ul>
                <input class="form-check-input" type="checkbox" value="yes" id="requisitosCheckboxEval" />
                <label for="observacionesEval">Observaciones:</label>
                <textarea id="observacionesEval" name="observacionesEval" rows="4" cols="50"></textarea>
                <button type="button" class="btn btn-primary" id="EvaluacionConfirmar">Confirmar</button>
            </div>

            ¿
        </div>
    </div>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">

    var id = @Model.AtestadoID;

    $.ajax({
        type: 'POST',
        url: '@Variables.BaseUrl/Funcionario/notaAtestado',
        async: false,
        contentType: 'application/json; charset=utf-8',
        dataType: 'json',
        data: JSON.stringify({ AtestadoID: id }),
        success: function (response) {
            if (response != null) {
                $("#nota").append('<p>' + response.toFixed(2) +'</p>')
            }

        }
    })

    </script>

    <script type="text/javascript">
    $('#EvaluacionConfirmar').click(function () {
        var evaluacion = new Object();
        evaluacion.requisitosChecked = $('#requisitosCheckboxEval').prop('checked');
        evaluacion.observaciones = $('#observacionesEval').val();
        console.log(evaluacion)
        $.ajax({
            type: 'POST',
            url: `@Variables.BaseUrl/EducacionContinuada/Evaluar`,
            async: false,
            contentType: 'application/json; charset=utf-8',
            dataType: 'html',
            data: JSON.stringify(evaluacion),
            success: function (response) {
                $('#closeModal').click()
            }

        }

        });
    });
    </script>
